.boardNoColor{
  position:relative;
  margin-top: 200px;
  margin-left: auto;
  margin-right: auto;
  /*display: flex;*/
  width:30em;
  height:18em;
  border: 1px solid #ccc;
  box-shadow: 2px 2px grey;
  background-color: white;
}

.innerBottoms{
  position: relative;
  align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
  margin-left:  auto;
  margin-right: auto;
  width:23em;
  height:15em;
  border: 5px transparent;
}

.inputBox{
  display: inline-block;
  border: 1px transparent;
  margin-top: 0.5em;
  margin-left:  auto;
  margin-right: auto;
  width: 19em;
  height: 3em;
  background-color: aliceblue;
}

.text{
  display: inline;
  position: relative;
  font-size: small;
}

a{
  color: darkgreen;
}
